<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>AccessTest</servlet-name>
    <servlet-class>handson.AccessTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Select</servlet-name>
    <servlet-class>handson.SelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Insert</servlet-name>
    <servlet-class>handson.InsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectRow</servlet-name>
    <servlet-class>handson.SelectRowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>handson.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>handson.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectBySql</servlet-name>
    <servlet-class>handson.SelectBySqlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>handson.TransactionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AccessTest</servlet-name>
    <url-pattern>/accesstest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Select</servlet-name>
    <url-pattern>/select</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectRow</servlet-name>
    <url-pattern>/selectRow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectBySql</servlet-name>
    <url-pattern>/selectBySql</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>

